@import "/src/styles/variables.scss";

.statisticCard {
  display: flex;
  align-items: center;
  column-gap: 10px;
  flex-direction: column;
  border: 2px solid #14a3a3;
  border-radius: 10px;
  padding: 20px;
  // min-width: 350px;

  h1 {
    // background: -webkit-linear-gradient(#71d63a, #14a333);
    background: -webkit-linear-gradient(#3ad6d6, #14a3a3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    line-height: 100px;
  }
  h3 {
    // max-width: 200px;

    text-transform: uppercase !important;
  }
}

@media (max-width: $xs) {
  .statisticCard {
    h1 {
      font-size: 72px;
    }
  }
}
