// colors

$primaryGreen: rgba(0, 223, 0, 0.818);
$secondaryGreen: rgb(0, 162, 0);
$primaryBlack: #181818;

// screen sizes

$xl: 1250px;
$lg: 992px;
$md: 765px;
$sm: 576px;
$xs: 385px;
$navbar_mobile: 600px;
