@import "/src/styles/variables.scss";

.solutions {
  display: flex;
  flex-direction: column;
}

@media (max-width: $md) {
  .solutions {
    row-gap: 20px;
  }
}

@media (max-width: $sm) {
  .solutions {
    row-gap: 40px;
  }
}
