@import "/src//styles/variables.scss";

.solution {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .text {
    max-width: 50%;
    h2 {
      font-size: 52px;
      line-height: normal;
    }
    p {
      font-size: 20px;
    }
  }

  .animation {
    max-width: 450px;
  }
}

@media (max-width: $lg) {
  .solution {
    .text {
      h2 {
        font-size: 38px;
      }
    }
    .animation {
      max-width: 300px;
      .animation_item {
        width: 100%;
      }
    }
  }
}

@media (max-width: $md) {
  .solution {
    .text {
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 18px;
      }
    }
    .animation {
      max-width: 240px;
      .animation_item {
        width: 100%;
      }
    }
  }
}

@media (max-width: $sm) {
  .solution {
    flex-direction: column !important;
    .text {
      max-width: 100%;
    }
    .animation {
      max-width: 300px;
    }
  }
}
